@mixin _redactor-context-dark {

    .redactor-context-toolbar {
        background-color: rgba(#000, .95);
        color: #555;

        & a {
            color: #ccc;
        }

        & a:before {
            border-left-color: rgba(255, 255, 255, .3);
        }

        & a:hover {
            color: #fff;
        }
    }

    .redactor-context-toolbar[dir="rtl"] {
        a:before {
            border-right-color: rgba(255, 255, 255, .3);
        }
    }
}

body.rex-theme-dark {
    @include _redactor-context-dark;
}

@media (prefers-color-scheme: dark) {
    body.rex-has-theme:not(.rex-theme-light) {
        @include _redactor-context-dark;
    }
}
