.upload-redactor-box {
    border-color: rgba(#007dff, .15);
    background-color: #fff;
}

.upload-redactor-placeholder {
    color: rgba(0, 0, 0, .3);
}

.upload-redactor-hover {
    background-color: rgba(#007dff, .075);
}

.upload-redactor-error {
    background-color: rgba(#ff3265, .075);
}

.upload-redactor-box-hover {
    outline-color: rgba(#007dff, .3);
}

.upload-redactor-box-error {
    outline-color: rgba(#ff3265, .3);
}
